.ebul_mbfacebook, .ebul_mbfacebook ul {
  background-color: #666666;
  border: 1px solid #000000;
  display: block;
  font-size: 1px;
  margin: 0px;
  overflow: auto;
  padding: 1px;
  position: absolute;
  visibility: hidden;
}

.ebul_mbfacebook_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_mbfacebook table {
  border-collapse: separate;
}

.ebul_mbfacebook tr {
  background-color: #666666;
  cursor: pointer;
  font-size: 1px;
}

.ebul_mbfacebook td {
  border: 1px solid #000000;
  padding: 1px;
  text-align: left;
}

.ebul_mbfacebook td a, .ebul_mbfacebook td a:visited {
  color: #FFFFFF;
  font-family: "Roboto", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_mbfacebook tr.hot, .ebul_mbfacebook tr.expanded {
  background-color: #3399FF;
}

.ebul_mbfacebook tr.hot td, .ebul_mbfacebook tr.expanded td {
  border-color: #000000;
}
.ebul_mbfacebook tr.hot a, .ebul_mbfacebook tr.expanded a {
  color: #000000;
  font-family: "Roboto", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_mbfacebook td div.ebul_mbfacebookseparator {
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #800000;
  height: 0px;
  font-size: 0;
}

.ebul_mbfacebook td.ebul_mbfacebookseparatortd {
  cursor: default;
}


ul.ebul_mbfacebook {
  position: absolute;
  visibility: hidden;
}                               

.mbfacebookebul_menulist .spaced_li {
  padding: 0px 1px 0px 0px;
}

.mbfacebookebul_menulist li {
  list-style: none;
  float: left;
}

.mbfacebookebul_menulist img {
  vertical-align: bottom;
  
}

.mbfacebookebul_menulist {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}
